.row
  .col-lg-4
  .col-lg-4{:style => "margin-top: 50px"}
    %h1= t('providers.create_header')
    .providers-errors-container
      = errors_full_messages(@provider_account)
    = simple_form_for @provider_account, url: provider_create_path, defaults: { input_html: { class: 'form-control' }} do |f|
      .form-group
        = f.input :name, label: false, input_html: { placeholder: t('fields.name') }
        = f.input :address, label: false, input_html: { placeholder: t('fields.address') }
        = f.input :protocol,  label: false, prompt: t('fields.protocol')
        = f.input :port,  label: false, input_html: { placeholder: t('fields.port') }
        = f.input :enable_ssl, inline_label: t('fields.enable_ssl'), label: false, input_html: { class: 'checkbox' }
        = f.input :login,  label: false, input_html: { placeholder: t('fields.login') }
        = f.input :password,  label: false, input_html: { placeholder: t('fields.password') }
      .form-group.copy-old-letters
        - if @provider_account.protocol != :smtp
          = f.input :copy_old_letters, inline_label: t('fields.copy_old_letters'), label: false, input_html: { class: 'checkbox' }
      = f.submit class: 'btn btn-default'

= javascript_include_tag "provider_account"