%div.page-header
  %h1.left= t('providers.index_header')
  = link_to provider_create_path,class: 'btn btn-middle right refresh-button', id: 'refresh-button' do
    %i.fa.fa-pencil>
      = t('actions.add')
%table.table
  %thead
    %tr
      %th= t('fields.name')
      %th= t('fields.address')
      %th= t('fields.protocol')
      %th= t('fields.status')
      %th 
  %tbody
    - @providers_accounts.each do |provider_account|
      %tr
        %td= provider_account.name
        %td= provider_account.address
        %td= provider_account.protocol.text
        %td= provider_account.status.text
        %td= link_to 'Edit', provider_edit_path(provider_account)
        %td= link_to 'Delete', provider_destroy_path(provider_account)
  