%h1 New Mail
.providers-errors
  = errors_full_messages(@letter)
= simple_form_for @letter, url: letter_create_path do |f|
  = f.input :subject, label: false, placeholder: 'Subject'
  = f.collection_select :provider_account_id, current_user.provider_accounts.with_protocol(:smtp).order('name'), 
    :id, :name, { :prompt => 'Select Provider', class: 'form-cont' }, {class: "form-control"}
  = f.input :to, label: false, input_html: { value: @letter.to.present? ? @letter.to.join(',') : '' } 
  = f.bootsy_area :body
  %br
  = f.submit 'Send', class: 'btn btn-default'

= javascript_include_tag "letter_create"
