%div.page-header
  %h1.left Your Mails
  = link_to 'javascript:refresh_letters()', class: 'btn btn-middle right refresh-button', id: 'refresh-button' do
    %i.fa.fa-refresh>
      = t('actions.refresh')
.letters-info
  - if current_user.letters_updating?
    .centered.ajax-loader
      %img{alt: "Ajax loader", src: "/assets/ajax-loader.gif"}
      %span= t('actions.updating')
.letters-container
  = render partial: 'letters_list'

= javascript_include_tag "letters_websockets"