!!!
%html
  %head
    %title SuperMailer
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = include_gon
  %body
    #wrapper
      %nav.navbar-default.navbar-static-side{:role => "navigation"}
        .sidebar-collapse
          %ul#side-menu.nav
            %li.nav-header
              .dropdown.profile-element
                %span.main-logo
                  SMailer
            %li{ class: is_active?("inbox") }
              = link_to letters_inbox_path do
                %i.fa.fa-envelope
                %span.nav-label Inbox
            %li{ class: is_active?("outbox") }
              = link_to letters_outbox_path do
                %i.fa.fa-globe
                %span.nav-label Outbox
            %li
              %a{:href => ""}
                %i.fa.fa-star
                %span.nav-label Spam
            %li{ class: is_active?("index") }
              = link_to providers_index_path do
                %i.fa.fa-star
                %span.nav-label Providers
            %li{ class: is_active?("trash") }
              = link_to letters_trash_path do
                %i.fa.fa-trash
                %span.nav-label Trash
            %li
              %a#friends_button{:href => ""}
                %i.fa.fa-sitemap
                %span.nav-label Settings
      #page-wrapper.gray-bg.dashbard-1
        .row.border-bottom
          %nav.navbar.navbar-static-top{:role => "navigation", :style => "margin-bottom: 0"}
            %ul.nav.navbar-top-links.navbar-right
              %li
                = link_to destroy_user_session_path, method: :delete do
                  %i.fa.fa-sign-out>
                    Logout
            %ul.nav.navbar-top-links.navbar-left
              %li
                = link_to letter_create_path, class: 'btn btn-middle' do
                  %i.fa.fa-pencil>
                    New Mail
        .row.border-bottom.white-bg.dashboard-header
          .col-sm-12
            = yield
        .row
          .col-lg-12
            .wrapper.wrapper-content
          .footer
            %div
              %strong Copyright
              SMailer © 2014-2015


