!!!
%html
  %head
    %title SuperMailer
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = include_gon
  %body
    #wrapper
      %nav.navbar-default.navbar-static-side{:role => "navigation"}
        .sidebar-collapse
          %ul#side-menu.nav
            %li.nav-header
              .dropdown.profile-element
                %span.main-logo
                  SMailer
            %li{ class: is_active?("inbox") }
              = link_to letters_inbox_path do
                %i.fa.fa-download
                %span.nav-label= t 'layout.inbox'
            %li{ class: is_active?("outbox") }
              = link_to letters_outbox_path do
                %i.fa.fa-upload
                %span.nav-label= t 'layout.outbox'
            %li{ class: is_active?("index") }
              = link_to providers_index_path do
                %i.fa.fa-user
                %span.nav-label= t 'layout.provider_accounts'
            %li{ class: is_active?("draft") }
              = link_to letters_draft_path do
                %i.fa.fa-spinner
                %span.nav-label= t 'layout.draft'
            %li{ class: is_active?("trash") }
              = link_to letters_trash_path do
                %i.fa.fa-trash
                %span.nav-label= t 'layout.trash'
      #page-wrapper.gray-bg.dashbard-1
        .row.border-bottom
          %nav.navbar.navbar-static-top{:role => "navigation", :style => "margin-bottom: 0"}
            %ul.nav.navbar-top-links.navbar-right
              %li
                .btn-group
                  %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                    = t('actions.change_locale')
                    %span.caret
                  %ul.dropdown-menu
                    %li
                      = link_to t('locales.en'), locale_change_path(:en)
                    %li
                      = link_to t('locales.rus'), locale_change_path(:rus)
              %li
                = link_to destroy_user_session_path, method: :delete do
                  %i.fa.fa-sign-out>
                    = t 'layout.logout'
            %ul.nav.navbar-top-links.navbar-left
              %li
                = link_to letter_create_path, class: 'btn btn-middle' do
                  %i.fa.fa-pencil>
                    = t 'layout.new_mail'
        .row.border-bottom.white-bg.dashboard-header
          .col-sm-12
            = yield
        .row
          .col-lg-12
            .wrapper.wrapper-content
          .footer
            %div
              = t 'layout.copyright'


